<!DOCTYPE html>
<html>
<head>
  <title>FormTagDemo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
  	div{
  		margin-top: 10px;
  	}
  	iframe{
  		margin-top: 10px;	
  	}
  </style>
</head>
<body>
	<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">
	    </div>
	  </div>
	</div>
	<section class="container">
		<%= yield %>
	</section>
</body>
</html>
